<div class="card__collection">
  <span class="card__id"><%= notification.card.id %></span>
  <span class="card__collection-name">
    <span class="overflow-ellipsis"><%= notification.card.collection.name %></span>
  </span>
</div>

<div class="card__notification-meta overflow-ellipsis flex-item-grow flex-item-no-shrink flex-item-justify-end">
  <span class="card__creator"><%= notification.creator.familiar_name %></span>
</div>

<div class="card__notification-meta overflow-ellipsis flex-item-no-shrink">
  <span class="card__timestamp"><%= local_datetime_tag(notification.created_at) %></span>
</div>

<div class="card__notification-meta flex-item-no-shrink">
  <%= notification_mark_read_button(notification) %>
</div>

