<div class="events--day" data-controller="related-element" 
     data-related-element-highlight-class="event--related">
  <% if events.any? %>
    <h2 class="txt-x-large margin-block-end"><%= event_day_title(activity_day) %></h2>

    <div class="center events">
      <%= render_column_headers %>
      <%= render_event_grid_cells(activity_day) %>

      <% events.each do | hour_column, cluster| %>
        <%= event_cluster_tag(*hour_column) do %>
          <%= render cluster %>

          <time class="event__timestamp txt-small translucent" data-local-time-target="time" datetime="<%= cluster.first.created_at.strftime("%H:%M") %>">
            <%= cluster.first.created_at.strftime("%l:%M %P").strip %>
          </time>
        <% end %>
      <% end %>
    </div>

    <%= render "events/empty_days", earliest: next_day&.tomorrow&.beginning_of_day, latest: activity_day.yesterday.beginning_of_day %>
  <% else %>
    <%= render "events/empty_days", earliest: next_day&.tomorrow&.beginning_of_day, latest: activity_day.beginning_of_day %>
  <% end %>
</div>
