<% @page_title = "Edit #{@bucket.name}" %>

<% content_for :header do %>
  <nav>
    <%= link_to buckets_path, class: "btn flex-item-justify-start" do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Go back</span>
    <% end %>

    <%= form_with model: @bucket, class: "flex align-center gap-half", method: :delete do |form| %>
      <%= form.button class: "btn btn--negative txt-small min-width", data: { turbo_confirm: "Are you sure you want to delete this?" } do %>
        <%= image_tag "minus.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Delete <%= @bucket.name %></span>
      <% end %>
    <% end %>
  </nav>
<% end %>

<div class="panel shadow center" style="--panel-size: 55ch; view-transition-name: new-bucket">
  <%= form_with model: @bucket, class: "flex flex-column gap txt-large" do |form| %>
    <%= image_tag "bubbles.svg", aria: { hidden: "true" }, size: 150, class: "colorize--black center" %>
    <label class="flex align-center gap">
      <%= form.text_field :name, required: true, class: "input full-width", autofocus: true, placeholder: "Give it a name…" %>
    </label>

    <button type="submit" id="log_in" class="btn btn--reversed center">
      <%= image_tag "check.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Save</span>
    </button>
  <% end %>
</div>
